img {
  width: 80px;
  height: 80px;
}

.landingSainpse{
  height:55vh !important;
  max-width:100%;
  background-image:url("black.jpg") ;
  background-size: cover;
  background-attachment: fixed;
}

.u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 808px);
  height: 810px;
  margin: 0 auto 0 0;
}

.sainpseCard{
  background-color: aquamarine;
}