{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Building bulletproof apps, Super Duper &amp;amp; such, Designed for humans, Conectivity, Lorem ipsum dolor sit amet, cotur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam., See our awesome gallery, It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/sainpse.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="{% static 'js/Tayloravator.js' %}"></script>
    
    <meta name="theme-color" content="#835fa8">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>


 <body>
  
  <div class="wrapper">
    <h1>Coming Soon<span class="dot">.</span></h1>
    <p>Thank you for showing interest.</p>
   </div>
 </body>

</html>